page-home {

}
.container{
	width: 100%;
	height: 100%;
	background-image: url("../../assets/imgs/portada.jpg");
	background-repeat: no-repeat;
	background-size: contain;
}
.imagenes{
	width: 90px;
	height: 90px;
	margin-top: 10px;
	margin-right: 10px;
	float: left;
}

.imagenes:hover{
	box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
}

#title{
	width: 300px;
	height: auto;
	color: red;
	margin: 0px auto;
	text-align: center;
}

#personajes{
	width: 300px;
	margin: 0px auto;
}
img{
	width: 100px;
	height: 100px;
}